

@font-face {
    font-family: Website;
    src: url("./fonts/DMCAPS.TTF");
}


body {
    background-image: url("images/image2.jpg");
    background-size: cover;
    font-family: 'Website', sans-serif;
}


/* Hi im nick */
h1{
    font-family: 'Website', sans-serif;
    font-size: 50px;
    color: rgb(198, 198, 206);
    padding-left: 600px;
    padding-top: 10px;
}

/* undergrad cs student graduating in 2025 */
.underHi{
    font-family: 'Helvetica', sans-serif;
    font-size: 23px;
    color: rgb(198, 198, 206);
    padding-left: 600px;
}

/* about me section */
.about{
    font-family: 'Helvetica', sans-serif;
    padding-left: 900px;
    font-size: 25px;
    color: rgb(198, 198, 206);
}

/* about me decription*/
h2{
    padding-left: 550px;
    font-size: 15px;
    font-family: 'Helvetica', sans-serif;
    color: rgb(198, 198, 206);
}

.h2{
    padding: 0px;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Helvetica', sans-serif;
    color: rgb(198, 198, 206);
}

/* "projects" */
h3{
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    padding-left: 550px;
    color: rgb(198, 198, 206);
}

.project{
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    padding-left: 550px;
    color: rgb(198, 198, 206);
}

/* project descriptions */
.description{
    font-size: 15px;
    font-family: 'Helvetica', sans-serif;
    padding-left: 550px;
    white-space: normal;
    color: rgb(198, 198, 206);
}