

@font-face {
    font-family: Website;
    src: url("./fonts/DMCAPS.TTF");
}


body {
    background-image: url("images/image2.jpg");
    background-size: cover;
    font-family: 'Website', sans-serif;
}

main{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
}

/* Hi im nick */
h1{
    font-family: 'Website', sans-serif;
    font-size: 50px;
    color: rgb(198, 198, 206);
    text-align: center;
    margin: 10px 0;
}


/* undergrad cs student graduating in 2025 
.underHi{
    font-family: 'Website', sans-serif;
    font-size: 23px;
    color: rgb(198, 198, 206);
    text-align: center;
}
*/

/* about me section */
.about{
    font-family: 'Website', sans-serif;
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    color: rgb(198, 198, 206);
    margin: 20px 0;
}

/* about me decription*/
h2{
    max-width: 900px;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Website', sans-serif;
    color: rgb(198, 198, 206);
    line-height: 1.5;
    text-align: justify;
}

.h2{
    max-width: 900px;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Helvetica', sans-serif;
    color: rgb(198, 198, 206);
    white-space: normal;
    line-height: 1.5
}

/* "projects" */
h3{
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    color: rgb(198, 198, 206);
    text-align: center;
    margin: 30px 0 10px 0;
}

.project{
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    max-width: 900px;
    color: rgb(198, 198, 206);
    text-align: left;
    margin: 20px auto;
}

/* project descriptions */
.description{
    font-size: 15px;
    font-family: 'Helvetica', sans-serif;
    max-width: 900px;
    white-space: normal;
    color: rgb(198, 198, 206);
    text-align: left;
    margin: 0 auto;
}

.github{
    max-width: 900px;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Website', sans-serif;
    color: rgb(198, 198, 206);
    text-align: justify;
    text-align: center;
    margin-top: 20px;
}

.stickyImage{
    width: 200px;
    height: auto;
    position: absolute;
    right: 230px;
}