

@font-face {
    font-family: Website;
    src: url("./fonts/Pepper\ Type\ -\ Daikon-ExtraLight.otf");
}


body {
    background-image: url("images/image2.jpg");
    background-size: cover;
    font-family: Website, sans-serif;
}

/* Hi im nick */
h1{
    font-family: Website, sans-serif;
    font-size: 40px;
    color: rgb(198, 198, 206);
    text-align: center;
    margin: 40px 0;
    padding-top: 150px;
}

.intro{
    font-family: Website, sans-serif;
    font-size: 20px;
    color: rgb(198, 198, 206);
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
}

.information{
    font-family: Website, sans-serif;
    font-size: 16px;
    color: rgb(198, 198, 206);
    text-align: center;
}

/* about me section */
.about{
    font-family: Website, sans-serif;
    text-align: center;
    font-size: 22px;
    color: rgb(198, 198, 206);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* about me decription*/
h2{
    max-width: 900px;
    margin: 0 auto;
    font-size: 14px;
    font-family: Website, sans-serif;
    color: rgb(198, 198, 206);
    line-height: 1.5;
    text-align: center;
}

.h2{
    max-width: 675px;
    margin: 0 auto;
    font-size: 15px;
    font-family: Website, sans-serif;
    color: rgb(198, 198, 206);
    white-space: normal;
    line-height: 1.5
}

/* "projects" */
h3{
    font-family: Website, sans-serif;
    font-size: 25px;
    color: rgb(162, 162, 238);
    text-align: center;
    margin: 30px 0 10px 0;
}

.project{
    font-family: Website, sans-serif;
    font-size: 25px;
    max-width: 900px;
    color: rgb(162, 162, 238);
    text-align: center;
    margin: 20px auto;
    padding-top: 10px;
}

/* project descriptions */
.description{
    font-size: 15px;
    font-family: Website, sans-serif;
    max-width: 900px;
    white-space: normal;
    color: rgb(198, 198, 206);
    text-align: left;
    margin: 0 auto;
}

.github{
    max-width: 900px;
    margin: 0 auto;
    font-size: 25px;
    font-family: Website, sans-serif;
    color: rgb(198, 198, 206);
    text-align: center;
    margin-top: 20px;
}

.projectImages{
    display: block;
    margin: 20px auto;
    width: 160px;
    height: auto;
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
}

.navbar{
    padding: 10px 20px;
}

.nav-list{
    display: flex;
    justify-content: center;
}

.nav-item{
    display: inline;
}

.nav-item a{
    color: rgb(198, 198, 206);
    font-size: 20px;
    font-family: Website, sans-serif;
    padding: 10px 15px;
}

a:visited{
    color:rgb(198, 198, 206);
}


/* EXPANDING PROJECT IMAGES */
.expandable{
    width:160px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, z-index 0.3s ease;;
    position: relative;
}

.expandable.expanded{
    transform: scale(6.5) translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50% -50%) scale(5);
    max-width: 90%;
    max-height: 90%;
}

.contact{
    font-size: 23px;
    color: rgb(198, 198, 206);
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin: 40px 0;
    padding-top: 175px;
}

.contactSpacing{
    padding-top: 10px;
}

.pastCourses{
    font-family: Website, sans-serif;
    text-align: center;
    font-size: 22px;
    color: rgb(198, 198, 206);
    margin: 20px 0;
    padding-top: 20px;
}

.courseList{
    padding-top: 8px;
    text-align: center;
    font-size: 14px;
    color: rgb(198, 198, 206);
    justify-content: center;
    max-width: 675px;
    margin: 0 auto;
    list-style-type: none;
}

.courseSpacing{
    padding-top: 10px;;
}